#mapid { 
	height: 400px;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
}

#logo_header {
	width: 100px;
}

#navbar {
	margin-left: 5%;
	margin-top: 3%;
}

.title_page {
	margin-top: 3%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.myformcontact {
	margin-top: 4%;
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.myformcontact p { 
	display: block;
}


.text-uppercase {
	font-family: 'bluu';
	margin-top: 10%;
}

#buttonProgrammeFrench {
	text-transform: lowercase;
}

#buttonProgrammeFrench::first-letter {
	text-transform: uppercase;
}

.textfooter {
   font-family: "Montserrat";
}

@media screen and (min-width: 720px) {

	footer {
		margin-top: 200px;
	}

	#footer_images {
		margin-top: 700px;
	}

	.first_line_image_partenaires {
		margin-top: 5%;
		height: 20px;
		text-align: center;
	}
	
	.second_line_image_partenaires {
		margin-top: 10%;
	}

	.third_line_image_partenaires {
		margin-top: 40%;
	}

	.first_line_image_reseaux {
		margin-top: 5%;
		height: 20px;
		text-align: center;
	}
	
	.second_line_image_reseaux {
		margin-top: 20%;
	}

	.third_line_image_reseaux {
		margin-top: 40%;
	}

	.first_line_image_reseaux > .imageGauche {
		float: left;
		height: 200px;
		margin-left: 20%;
	}

	.first_line_image_reseaux > .imageDroite {
		float: right;
		height: 150px;
		margin-right: 20%;
	}

	.second_line_image_reseaux > .imageGauche {
		float: left;
		height: 150px;
		margin-left: 20%;
	}
	
	.second_line_image_reseaux > .imageDroite {
		float: right;
		height: 150px;
		margin-right: 20%;
	}

	.third_line_image_reseaux > .imageGauche {
		float: left;
		height: 150px;
		margin-left: 20%;
	}

	.third_line_image_reseaux > .imageDroite {
		float: right;
		height: 150px;
		margin-right: 20%;
	}
	
	.second_line_image_partenaires > .imageGauche {
		float: left;
		height: 200px;
		margin-left: 20%;
	}
	
	.second_line_image_partenaires > .imageDroite {
		float: right;
		height: 200px;
		margin-right: 20%;
	}

	.third_line_image_partenaires > .imageGauche {
		float: left;
		height: 200px;
		margin-left: 20%;
	}

	.third_line_image_partenaires > .imageDroite {
		float: right;
		height: 200px;
		margin-right: 20%;
	}
}

@media screen and (max-width: 720px) {

	#footer_images {
		margin-top: 300px;
	}

	.first_line_image_partenaires {
		margin-top: 5%;
		text-align: center;
	}

	.first_line_image_partenaires > .image {
		height: 20px;
	}
	
	.second_line_image_partenaires {
		margin-top: 10%;
	}

	.third_line_image_partenaires {
		margin-top: 40%;
	}

	.first_line_image_reseaux {
		margin-top: 5%;
		height: 20px;
		text-align: center;
	}
	
	.second_line_image_reseaux {
		margin-top: 25%;
	}

	.third_line_image_reseaux {
		margin-top: 55%;
	}

	.first_line_image_reseaux > .imageGauche {
		float: left;
		margin-left: 20%;
		height: 80px;
	}
	
	.first_line_image_reseaux > .imageDroite {
		float: right;
		margin-right: 20%;
		height: 80px;
	}

	.second_line_image_reseaux > .imageGauche {
		float: left;
		margin-left: 20%;
		height: 80px;
	}
	
	.second_line_image_reseaux > .imageDroite {
		float: right;
		margin-right: 20%;
		height: 80px;
	}

	.third_line_image_reseaux > .imageGauche {
		float: left;
		margin-left: 20%;
		height: 80px;
	}
	
	.third_line_image_reseaux > .imageDroite {
		float: right;
		margin-right: 20%;
		height: 80px;
	}
	
	.second_line_image_partenaires > .imageGauche {
		float: left;
		margin-left: 20%;
		height: 100px;
	}
	
	.second_line_image_partenaires > .imageDroite {
		float: right;
		margin-right: 20%;
		height: 100px;
	}

	.third_line_image_partenaires > .imageGauche {
		float: left;
		margin-left: 20%;
		height: 100px;
	}
	
	.third_line_image_partenaires > .imageDroite {
		float: right;
		margin-right: 20%;
		height: 100px;
	}

	.accordion {
		width: 100% !important;
		margin-left: 0% !important;
	}
	
	.panel {
		width: 100% !important;
		margin-left: 0% !important;
	}

}

#title_FAQ {
	margin-bottom: 5%;
}

.accordion {
	font-family: "Montserrat", sans-serif;
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	border: none;
	text-align: center;
	margin-left: 25%;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
  }
  
  .active, .accordion:hover {
	background-color: #ccc; 
  }
  
  .panel {
	font-family: "Montserrat", sans-serif;
	padding: 0 18px;
	display: none;
	background-color: white;
	overflow: hidden;
	width: 50%;
	text-align: justify;
	margin-left: 25%;
  }

  .accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

  .buttonEnvoyer {
	color: white;
	background: #6565EE;
	font-family: "Montserrat";
	height: 40px;
	margin-top: 3%;

}

.buttonEnvoyer:hover {
	 color: black;
}

@font-face {
    font-family: 'bluu';
    src: url('bluunext-bold-webfont.woff2') format('woff2'),
         url('bluunext-bold-webfont.woff') format('woff'),
         url('bluunext-bold.ttf') format('truetype'),
         url('bluunext-bold-webfont.svg#bluu_nextbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

