#mapid { 
	height: 400px;
	margin-top: 3%;
	margin-left: 15%;
	margin-right: 15%;
}

#navbar {
	margin-left: 5%;
	margin-top: 3%;
}

.title_page {
	margin-top: 2%;
	text-align: center;
}

.myformcontact {
	text-align: center;
	margin-top: 5%;
}